*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#111827;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:90%;

max-width:1000px;

text-align:center;

}

.cards{

display:flex;

justify-content:center;

gap:30px;

margin-top:40px;

flex-wrap:wrap;

}

.card{

width:220px;

height:180px;

background:#1f2937;

border-radius:15px;

cursor:pointer;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:25px;

transition:.3s;

}

.card:hover{

transform:scale(1.05);

background:#2563eb;

}

.languages{

display:none;

margin-top:50px;

}

.languages button{

padding:15px;

margin:10px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:18px;

background:#2563eb;

color:white;

}

.languages button:hover{

background:#1d4ed8;

}